body {
  font-family: 'Lato' !important;
}

.ui.menu .item>img:not(.ui) {
  width: 200px !important;
}

.header-button {
  background-color: #00654D !important;
  color: white !important;
  width: 90px;
}

.twitter-feed {
  text-align: center;
}