body {
  font-family: 'Lato' !important;
  background-color: #F7F7F7 !important;
}

.ui.menu .item>img:not(.ui) {
  width: 200px !important;
}

.header-button {
  background-color: #00654D !important;
  color: white !important;
  width: 90px;
}

.twitter-feed {
  text-align: center;
  overflow-y: hidden;

}

div .game-left, div.game-right {
  width: 50%;
  font-size: 14px;
}

div .game-left {
  text-align: left;
  display: inline-block;
}

.team, .neutral-game {
  vertical-align: super;
}

div .game-right {
  vertical-align: top;
  text-align: left;
  display: inline-block;
}

.teamLogoImg {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.stadium, .channels {
  font-size: 12px;
  color: #797979;
  font-style: italic
}